{% extends "app/layout.html" %}

{% block content %}

<form action="">
<p>Answer the following questions and we will tell you what analysis to perform: </p>
<p>1. What is the approximate number of observations you have in your data?</p>
<input type="radio" name="size" value="less">less than 50<br>
<input type="radio" name="size" value="more">more than 50<br>

<p>2. Is your output categorical?</p>
<input type="radio" name="size" value="yes">Yes<br>
<input type="radio" name="size" value="no">No<br>

<p>3. Are your outputs labelled?</p>
<input type="radio" name="size" value="yes">Yes<br>
<input type="radio" name="size" value="no">No<br>

<p>4. If your data is just a bunch of observations that you want to cluster, do you know the number of clusters?</p>
<input type="radio" name="size" value="yes">Yes<br>
<input type="radio" name="size" value="no">No<br>

</form>

<div class="jumbotron">
    <p><a id="suggButton" class="btn btn-primary btn-large">Answer the following questions and we will tell you what analysis to perform! &raquo;</a></p>
</div>

{% endblock %}
