{% extends "app/layout.html" %}

{% block content %}

{% csrf_token %}

<form action="">
<p align="center"><img src="media/help.jpg" align="middle" /></p>
<br />
<br />
<br />

<p><font face="georgia">Answer the following questions and we will tell you what analysis to perform:</font> </p>
<br />
<br />
<p><font face="georgia">1. What is the approximate number of observations you have in your data?</font></p>
<input type="radio" name="size" value="less" />less than 50<br />
<input type="radio" name="size" value="more" />more than 50<br />
<br />
<p><font face="georgia">2. Is your output categorical?</font></p>
<input type="radio" name="categorical" value="yes" />Yes<br />
<input type="radio" name="categorical" value="no" />No<br />
<br />
<p><font face="georgia">3. Are your outputs labelled?</font></p>
<input type="radio" name="labelled" value="yes" />Yes<br />
<input type="radio" name="labelled" value="no" />No<br />
<br />
<p><font face="georgia">4. If your data is just a bunch of observations that you want to cluster, do you know the number of clusters?</font></p>
<input type="radio" name="numClusters" value="yes" />Yes<br />
<input type="radio" name="numClusters" value="no" />No<br />

</form>

<br />
<br />
<p align="center"><a id="suggButton" class="btn btn-primary btn-large">Submit</a></p>

{% endblock %}

{% block scripts %}

{% load staticfiles %}
<script src="{% static 'app/scripts/suggestion.js' %}"></script>

{% endblock %}
