{% extends "app/layout.html" %}

{% block myhead %}
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "7a168abe-8d5c-4abb-b472-c992efb4664d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "7a168abe-8d5c-4abb-b472-c992efb4664d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{% endblock %}


{% block content %}

{% csrf_token %}

<div class="jumbotron">
    <h1>My Page</h1>
    <p class="lead">Give a text input.</p>
    <p><a id="mybutton" class="btn btn-primary btn-large">Click me! &raquo;</a></p>
    <p><a id="postButton" class="btn btn-primary btn-large">Click me to post! &raquo;</a></p>
    <p><a id="imgButton" class="btn btn-primary btn-large">Click me to get an Image! &raquo;</a></p>
</div>
<div id="imageDiv">
</div>

<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_linkedin_large' displayText='LinkedIn'></span>
<span class='st_pinterest_large' displayText='Pinterest'></span>
<span class='st_facebook_hcount' displayText='Facebook'></span>
<span class='st_twitter_hcount' displayText='Tweet'></span>
<span class='st_linkedin_hcount' displayText='LinkedIn'></span>
<span class='st_pinterest_hcount' displayText='Pinterest'></span>

{% endblock %}

{% block scripts %}

{% load staticfiles %}
<script src="{% static 'app/scripts/myjsscript.js' %}"></script>

{% endblock %}
