{% extends "app/layout.html" %}

{% block content %}

{% csrf_token %}

    <div class="form-group">
        <!-- Upload form. Note enctype attribute! -->
        <form action={% url "uploadFile" %} method="post" enctype="multipart/form-data">
	        {% csrf_token %}
	        <p>{{ form.non_field_errors }}</p>
	        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
	        <p>
		        {{ form.docfile.errors }}
		        {{ form.docfile }}
	        </p>
	        <p><input class="btn btn-default" type="submit" value="Upload" /></p>
        </form>
    </div>

    <div class="form-group">
        <label> Select the file on which you want to run analysis: </label>
        {% if documents %}
        <select id="uploaded_files_list" size="5" class="form-control">
            {% for document in documents %}
                {% for name in document.docfile.file %}
                    <option value="{{ name }}" href="{{ document.docfile.url }}"> {{ name }} </option>
                {% endfor %}
            {% endfor %}
        </select>
        {% else %}
        <p>
            No documents uploaded yet.
        </p>
        {% endif %}
    </div>

    <hr/>

    <div class="form-group">
        <label>Do an analysis!</label>
    </div>
    <br />
    <div class="form-group">
        <div class="btn-group" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <select id="analysis_list" class="form-control">
                    <option value="A"> Analysis A </option>
                    <option value="B"> Analysis B </option>
                    <option value="C"> Analysis C </option>
                    <option value="D"> Analysis D </option>
                </select>
            </div>

            <button id="apply_analysis_btn" type="button" class="btn btn-default"> Apply </button>
        </div>
    </div>

    <br />

    <div class="form-group" style="height: 500px;">
        <div class="col-lg-6">
            <div class="text-center">
                <button id="show_img_btn" type="button" class="btn btn-default"> Show Image Analysis </button>
            </div>
            <br />
            <br />
            <br />
            <div class="text-center" id="imagediv">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="text-center">
                <button id="show_text_btn" type="button" class="btn btn-default"> Show Text Analysis </button>
            </div>
            <br />
            <br />
            <br />
            <div class="text-center">
                <textarea id="textdiv">
                </textarea>
            </div>
        </div>
    </div>

{% endblock %}
s
{% block scripts %}

{% load staticfiles %}
<script src="{% static 'app/scripts/upload.js' %}"></script>

{% endblock %}
